<!DOCTYPE html>

<html>
  <head>
    <title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <h2><%= title2 %></h2>
    <p>Welcome to <%= title2 %></p>

    <h3> Soy el alumno </h3>
    <p><%= title3 %></p>
    <h4> de apellido </h4>
    <p><%= title4 %></p>
	<form action="https://sat-problema-1.herokuapp.com/users">
    	<input type="submit" value="go to users"/>
    </form>
    <form action="https://sat-problema-1.herokuapp.com/mivista">
    	<input type="submit" value="visita nuestra nueva vista"/>
    </form>


  </body>
</html>
